# -*- Mode: yaml; -*-
---
version: "2.1"
services:
  smokeping:
    image: linuxserver/smokeping
    container_name: smokeping
    environment:
      - PUID={{smokeping_uid}}
      - PGID={{smokeping_gid}}
      - TZ=America/Chicago
    volumes:
      - /home/smokeping/config:/config
      - /home/smokeping/data:/data
    ports:
      - 127.0.0.1:8080:80
    restart: unless-stopped
